.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    transition: all .5s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.navbar > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding: 0;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    z-index: 3;
    padding: .25rem .75rem;
    font-size: 1.6rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-top: 5px;
    margin-bottom: 0;
    color: #fff;
    transition: transform 0.6s;
    transform-origin: center;
    transition-timing-function: cubic-bezier(0.9,1.65,0.42,0.61);
}

/* Animation Classes */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

/* Responsive Design */
@media (max-width: 992px) {
    .navbar-expand-lg > .container {
        padding: 0;
    }
    
    .container .navbar-collapse {
        padding: 2rem 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
    }
    
    .container .navbar-collapse.show {
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
        left: 0;
        top: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}