<section class="section pointer" id="modules">
    <div class="container z-1">
        <!-- Title Section -->
        <div class="row justify-content-center txt-bg txt-bg-modules">
            <div class="col-lg-6">
                <div class="wow fadeIn section-title text-center mb-4 pb-2">
                    <div class="mb-5 pb-3">
                        <i class="fas fa-trophy h1 text-muted"></i>
                    </div>
                    <h2 class="h3 font-weight-bold">NeuralReef Progress</h2>
                    <p class="text-muted mx-auto mb-0 mt-4 para-desc">
                        Modules progression
                    </p>
                </div>
            </div>
        </div>

        <!-- Modules Grid -->
        <div class="container-ach">
            <div *ngFor="let module of modulesData" 
                 class="box col-lg-4"
                 [ngClass]="'wow zoomIn' + module.animationClass"
                 [attr.data-wow-delay]="'0.5s'">
                <h3 class="description pl-1 h2">
                    {{module.description}}
                </h3>
                <img [src]="'assets/images/modules/' + module.image + '.webp'"
                     class="ach-img"
                     [alt]="'neuralreef - ' + module.image"
                     [title]="module.image"
                     loading="lazy">
            </div>
        </div>
    </div>
</section>