<!-- app.component.html -->
<!-- Splash Screen -->
<div id="loader" class="splash-screen">
    <div id="splash" class="splash">
        <div class="splash-circle circle-1">
            <div class="circle-animation"></div>
        </div>
        <div class="splash-circle circle-2">
            <div class="circle-animation"></div>
        </div>
    </div>
    <div class="section-transition" id="section-left"></div>
    <div class="section-transition" id="section-right"></div>
</div>

<!-- Main Application Content -->
<main>
    <router-outlet></router-outlet>
</main>